body {
  font-family: "Montserrat";
}

h1,h2,h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
  font-size: 0.85rem
}

/* Title */

#title {
  background-color: #FE3C72;
  color: #fff;
}

.big-header {
  font-size: 2.75rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 10%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 3rem;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

.fea-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fea-icon:hover {
  color: #FE3C72;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-text {
  font-size: 1.1rem;
}

.fea-box {
  text-align: center;
  padding: 5%;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 2rem;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-text {
  font-size: 2rem;
}

.pricing-head-text {
  font-size: 1.1rem;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA */

#cta {
  background-color: #FE3C72;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}

.cta-text {
  font-size: 3rem;
}

/* Footer */

#footer {
  padding: 3% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width : 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    transform: rotate(0);
    position: static;
  }
  .navbar {
    text-align: left;
  }
}
